################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/Lab1/SPD.vcxproj.user
/Lab1/SPD.vcxproj.filters
/Lab1/SPD.vcxproj
/Lab1/SPD.sln
/CMakeSettings.json
/Lab1/Debug
/Lab1/.vs/SPD/v15
/Lab1/Release
/Lab1/.vs/spd-laby/v15
/Lab1/spd-laby.vcxproj.user
/Lab1/spd-laby.vcxproj.filters
/Lab1/spd-laby.vcxproj
/Lab1/spd-laby.sln
